<div class="page-container">
  <header class="Project-header">
    <h1>הפרויקטים שלי 🚀</h1>
    @if (currentTeamId) {
      <div class="current-team-indicator">עובדת על צוות מזהה: {{ currentTeamId }}</div>
    }
    
    <button (click)="toggleCreate()" class="circle-btn">
      {{ isCreateOpen() ? '✖' : '➕' }}
    </button>
  </header>

  @if (isCreateOpen()) {
  <div class="create-team-box slide-in">
    <small style="color: gray;">הוספה לצוות: {{ currentTeamId }}</small>
    
    <input type="text" [formControl]="nameControl" placeholder="שם פרויקט חדש..."> 
    <input type="text" [formControl]="descControl" placeholder="תיאור הפרויקט...">
    <button (click)="createNewProj()" [disabled]="nameControl.invalid">שמור</button>
  </div>
  }

  <main class="project-grid">
    @if (projectsService.isLoading()) {
      <p>טוען פרויקטים...</p>
    } @else {
      <div class="projects-grid">
        @for (project of filteredProjects(); track project.id) {
          <div class="project-card">
            <div class="card-header">
              <span class="id-tag">ID: {{ project.id }}</span>
              
              @if (editingProjectId() === project.id) {
                <div class="edit-mode-container" (click)="$event.stopPropagation()">
                  <input type="text" [formControl]="editNameControl" class="edit-input">
                  <div class="edit-btns">
                    <button (click)="saveEdit(project.id, $event)" class="save-btn">✅</button>
                    <button (click)="cancelEdit($event)" class="cancel-btn">✖</button>
                  </div>
                </div>
              } @else {
                <h3>{{ project.name }}</h3>
                <div class="header-actions">
                  <button class="edit-btn" (click)="startEdit(project, $event)">✏️</button>
                  <button class="delete-btn" (click)="deleteProject(project.id, $event)">🗑️</button>
                </div>
              }
            </div>

            <p class="desc">{{ project.description }}</p>
            
            <button class="enter-btn" [routerLink]="['/projects', project.id, 'tasks']">
              צפה במשימות ➤
            </button>

            <div class="team-badge">שייך לצוות: {{ project.team_id }}</div>
          </div>
        } @empty {
          <p>אין פרויקטים להצגה.</p>
        }
      </div>
    }
  </main>
</div>