<div class="auth-container">
  <h2>הרשמה למערכת</h2>
  <div class="auth-wrapper">
  <div class="auth-card">
    
    <div class="auth-tabs">
      <a routerLink="/login" routerLinkActive="active-tab" class="tab">התחברות</a>
      <a routerLink="/register" routerLinkActive="active-tab" class="tab">הרשמה</a>
    </div>

    <div class="auth-content">
       </div>

  </div>
</div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label>שם מלא</label>
      <input type="text" formControlName="name" placeholder="ישראל ישראלי">
    </div>

    <div class="form-group">
      <label>אימייל</label>
      <input type="email" formControlName="email" placeholder="email@example.com">
    </div>

    <div class="form-group">
      <label>סיסמה</label>
      <input type="password" formControlName="password" placeholder="******">
    </div>

    <button type="submit" [disabled]="!registerForm.valid">הירשם</button>
    
    <p>כבר יש לך חשבון? <a routerLink="/login">התחבר כאן</a></p>
  </form>
</div>